// PRIMARY
$primary-background-low: rgb(0, 0, 0);
$primary-background-normal: rgb(15, 15, 15);
$primary-background-strong: rgb(30, 30, 30);

// TEXT
$primary-text-low: rgb(155, 155, 155);
$primary-text-normal: rgb(205, 205, 205);
$primary-text-strong: rgb(255, 255, 255);

// BORDER
$primary-decoration-low: rgb(90, 90, 90);
$primary-decoration-normal: rgb(120, 120, 120);
$primary-decoration-strong: rgb(180, 180, 180);

// TERTIARY
$tertiary-background-low: rgb(28, 25, 36);
$tertiary-background-normal: rgb(41, 35, 57);
$tertiary-background-strong: rgb(54, 45, 78);

// TERTIARY
$tertiary-decoration-low: rgb(115, 85, 195);
$tertiary-decoration-normal: rgb(145, 115, 225);
$tertiary-decoration-strong: rgb(175, 145, 255);

// FONT
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.6rem;

// FONT WEIGHT
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

// OTHERS
$radius-small: 1rem;
$radius-medium: 1.25rem;
$radius-large: 1.5rem;
