// PRIMARY COLORS
$primary-low: rgb(0, 0, 0);
$primary-normal: rgb(15, 15, 15);
$primary-strong: rgb(30, 30, 30);

// PRIMARY TEXT COLORS
$primary-text-low: rgb(155, 155, 155);
$primary-text-normal: rgb(205, 205, 205);
$primary-text-strong: rgb(255, 255, 255);

// TERTIARY COLORS
$tertiary-low: rgb(115, 85, 195);
$tertiary-normal: rgb(145, 115, 225);
$tertiary-strong: rgb(175, 145, 255);

// BORDER COLORS
$border-low: rgb(90, 90, 90);
$border-normal: rgb(120, 120, 120);
$border-strong: rgb(150, 150, 150);

// FONT
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.6rem;

// FONT WEIGHT
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

// OTHERS
$radius-low: 1rem;
$radius-normal: 1.25rem;
$radius-large: 1.5rem;
