// IMPORTS
@import '../../styles/vars';

// COMPONENT
.EditorWorkbench {
  position: relative;

  .dev {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 1;
  }

  .close {
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 1;
  }

  .cropper {
    position: absolute;
    left: 2rem;
    top: 2rem;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    gap: 1rem;

    pointer-events: none;
    width: calc(100% - 4rem);
    z-index: 1;

    .tool {
      pointer-events: all;
      width: 20rem;
    }
  }

  .zoom {
    position: absolute;
    width: 25rem;
    bottom: 2rem;
    left: calc(50% - 12.5rem);
    z-index: 1;
  }

  .download {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 1;
  }

  .canvas {
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}
