// IMPORTS
@import '../../styles/vars';

// COMPONENT
.EditorWorkbench {
  position: relative;

  .close {
    position: absolute;
    left: 2rem;
    top: 2rem;
  }

  .canvas {
    height: 100%;
    width: 100%;
  }
}
