// IMPORTS
@import '../../styles/vars';

// COMPONENT
.EditorWorkbench {
  position: relative;

  .canvas {
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .dev {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 1;
  }

  .close {
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 1;
  }

  .zoom {
    position: absolute;
    width: 25rem;
    bottom: 2rem;
    left: calc(50% - 12.5rem);
    z-index: 1;
  }
}
