// IMPORTS
@use "../../../styles/vars";

// ELEMENT
.button {
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;

  font-size: vars.$font-size-small;
}
