// IMPORTS
@import '../../../styles/vars';

// ELEMENT
.button {
  height: 3rem;
  min-height: 3rem;
  width: 3rem;
  min-width: 3rem;
}

// ELEMENT
.tooltip {
  display: contents;

  .value {
    height: 3rem;
    flex-grow: 1;
    border-radius: $radius-small;
  }
}
