// IMPORTS
@import '../../../styles/vars';

// COMPONENT
.EditorImageInput {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;

  position: relative;
  height: 100%;
  width: 100%;
  gap: 1rem;

  .icon {
    stroke-width: 1pt;
    color: $text-normal;
  }

  .text{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .title {
      color: $text-normal;
    }
    .subtitle {
      color: $tertiary-normal;
    }
  }

  .input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}

// STATE
.EditorImageInput:hover {
  .icon {
    color: $text-strong;
  }

  .text {
    .title {
      color: $text-strong;
    }
    .subtitle {
      color: $tertiary-strong;
    }
  }
}

// STATE
.EditorImageInput.dragging {
  background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 2%), rgba(255, 255, 255, 2%) 10px, rgba(0, 0, 0, 0%) 5px, rgba(0, 0, 0, 0%) 25px);
  background-color: $primary-low;

  .icon {
    color: $text-strong;
  }

  .text {
    .title {
      color: $text-strong;
    }
    .subtitle {
      color: $tertiary-strong;
    }
  }
}
