// IMPORTS
@import '../../../styles/vars';

// ELEMENT
.box {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;

  .label {
    display: grid;
    place-items: center;
    height: 3rem;
    min-height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: $radius-small 0 0 $radius-small;
  }

  .input {
    height: 3rem;
    text-align: right;
    padding: 0 1rem;
    flex-grow: 1;
    width: 0;
    border-radius: 0 $radius-small $radius-small 0;
  }
}

// STATE
.box.disabled {
  .label {
    background-color: $primary-background-low;
    border: solid 1px $primary-decoration-low;
    color: $primary-text-low;
    border-right: none;
  }

  .input {
    background-color: $primary-background-low;
    border: solid 1px $primary-decoration-low;
    color: $primary-text-low;
  }
}

// STATE
.box:not(.disabled) {
  .label {
    background-color: $primary-background-normal;
    border: solid 1px $primary-decoration-normal;
    color: $primary-text-normal;
    border-right: none;
  }

  .input {
    background-color: $primary-background-normal;
    border: solid 1px $primary-decoration-normal;
    color: $primary-text-normal;

    &:focus {
      background-color: $primary-background-strong;
      border: solid 1px $primary-decoration-strong;
      color: $primary-text-strong;
    }
  }
}
