// IMPORTS
@use '../../../styles/vars';

// COMPONENT
.BasicIconButton {
  display: grid;
  place-items: center;
  border-radius: vars.$radius-small;
}

// STATE
.BasicIconButton:disabled {
  background-color: vars.$primary-background-low;
  border: solid 1px vars.$primary-decoration-low;
  color: vars.$primary-text-low;
}

// STATE
.BasicIconButton:not(:disabled) {
  background-color: vars.$primary-background-normal;
  border: solid 1px vars.$primary-decoration-normal;
  color: vars.$primary-text-normal;

  &:hover {
    background-color: vars.$primary-background-strong;
  }

  &:focus-visible {
    background-color: vars.$primary-background-strong;
    border: solid 2px vars.$primary-decoration-strong;
    color: vars.$primary-text-strong;
  }
}

// STATE
.BasicIconButton:not(:disabled).active {
  background-color: vars.$tertiary-background-normal;
  border: solid 1px vars.$tertiary-decoration-normal;
  color: vars.$primary-text-normal;

  &:hover {
    background-color: vars.$tertiary-background-strong;
  }

  &:focus-visible {
    background-color: vars.$tertiary-background-strong;
    border: solid 2px vars.$tertiary-decoration-strong;
    color: vars.$primary-text-strong;
  }
}
