// IMPORTS
@use './styles/reset';
@import './styles/vars';

// FONTS
@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend.ttf');
}

// HTML
html {
  font-size: 10px;
}

// BODY
body {
  font-size: $font-size-medium;
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

// RESET
:root {
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: $primary-low;
  color: $primary-text-normal;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
